body {
  font-size: 16px;
  color: grey;
}

a {
  text-decoration: none;
}

.menu a, .footer a {
  color: grey;
}

.menu li, .footer li {
  list-style: none;
}

header, main, footer {
  border-radius: 10px;
  min-width: 500px;
  max-width: 1240px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 5px 5px gray;
}

.logo {
  border-radius: 50%;
  border: lightgray solid 1px;
}

/* Menu style */
.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.5em;
  margin-left: 0;
  padding-left: 0;
  }

.item-menu {
  padding: 2vw;
  margin: 10px;
  width: 150px;
  background: lightskyblue;
  border-radius: 5px;
  text-align: center;
}

.item-menu:active {
  background: lightblue;
}
/* End menu style */

/* main style */
main {
  box-shadow: 5px 5px 5px lightgrey;
  padding: 10px;
}

h1 {
  text-align: center;
  padding: 5px;
  background: rgba(135, 206, 250, 0.5);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 2em;
}

/* Section Style */
section {
  background: rgba(135, 206, 250, 0.2);
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

section > h2 {
  font-size: 1.5em;
}
section > p {
  text-align: justify;
}

/* Section card event style */
.event-card {

}

.event-date {
  text-decoration: underline;
  font-style: italic;
}

/* Center image */
section > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* End main style */

/* Footer style */
footer {
  box-shadow: 5px -5px 5px gray;
  background: lightgrey;
  padding: 10px;
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer > li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8em;
}
/* End footer style */